services:
  caddy:
    image: ghcr.io/caddybuilds/caddy-cloudflare@sha256:79a418c615798b95d79b5856c15807d2815e048634bfadff138e9b5382b9f0b5
    container_name: caddy
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./sites.d:/etc/caddy/sites.d:ro
      - ./demo-sites.d:/etc/caddy/demo-sites.d:ro
      - caddy_data:/data
      - caddy_config:/config
    env_file: .env

volumes:
  caddy_data:
  caddy_config:
