{% if caddy_dns_challenge %}
ACMEDNS_USERNAME={{ caddy_acmedns_username }}
ACMEDNS_PASSWORD={{ caddy_acmedns_password }}
ACMEDNS_SUBDOMAIN={{ caddy_acmedns_subdomain }}
ACMEDNS_SERVER_URL={{ caddy_acmedns_server_url }}
{% endif %}
