{
	admin unix//run/caddy/admin.sock
	default_bind {{ tailscale_ip }}
}

(tls_cf) {
	tls {
		resolvers 1.1.1.1 8.8.8.8
		dns acmedns {
			username {$ACMEDNS_USERNAME}
			password {$ACMEDNS_PASSWORD}
			subdomain {$ACMEDNS_SUBDOMAIN}
			server_url {$ACMEDNS_SERVER_URL}
		}
	}
}

*.{{ domain }} {
	import tls_cf

	import /etc/caddy/demo-sites.d/*.caddy

	handle {
		respond "no route configured for {host}" 404
	}
}

import /etc/caddy/sites.d/*.caddy
